<?xml version="1.0"?>
<robot name="iiwa7" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro" />
  <!--Import the lbr iiwa macro -->
  <xacro:include filename="$(find iiwa_description)/urdf/iiwa7.xacro"/>
  
  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="robot_name" default="iiwa"/>
  <xacro:arg name="origin_xyz" default="0 0 0"/>
  <xacro:arg name="origin_rpy" default="0 0 0"/>
  <xacro:property name="PII" value="3.1415926535897931"/>

  <!-- Fix to world just for testing -->
  <link name="world"/>
  <joint name="world_base_joint" type="fixed">
    <origin xyz="-0.63 -0.35 0.25" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="base_link"/>
  </joint>
  <joint name="world_mesh_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="modelmesh"/>
  </joint>
<link name="modelmesh">
    <inertial>
      <origin xyz="-0.1 0 0.07" rpy="0 0 0"/>
      <mass value="5"/>
      <inertia ixx="0.05"  ixy="0"  ixz="0" iyy="0.06" iyz="0" izz="0.03" />
    </inertial>
    
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://iiwa_description/meshes/iiwa7/visual/env.STL"/>
      </geometry>
      <material name="Grey"/>
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://iiwa_description/meshes/iiwa7/visual/env.STL"/>
      </geometry>
      <material name="Grey"/>
    </collision>
    
    <!--self_collision_checking>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <capsule radius="0.15" length="0.25"/>
      </geometry>
    </self_collision_checking-->
    
  </link>
  <link name="base_link">
    <inertial>
      <origin xyz="-0.1 0 0.07" rpy="0 0 0"/>
      <mass value="5"/>
      <inertia ixx="0.05"  ixy="0"  ixz="0" iyy="0.06" iyz="0" izz="0.03" />
    </inertial>
    
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://iiwa_description/meshes/iiwa7/visual/robot_base.STL"/>
      </geometry>
      <material name="Grey"/>
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://iiwa_description/meshes/iiwa7/visual/robot_base.STL"/>
      </geometry>
      <material name="Grey"/>
    </collision>
    
    <self_collision_checking>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <capsule radius="0.15" length="0.25"/>
      </geometry>
    </self_collision_checking>
    
  </link>
  <!--iiwa-->
  <xacro:iiwa7 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="base_link">
    <origin xyz="0.087 0.15 1.246" rpy="0 -1.5708 2.3562" />
  </xacro:iiwa7>
  
</robot>
